<div *ngIf="memberInfo" class="card-border flex-column-space-between share-code-section">
  <p class="text-center message">Share to your family and friend to get more point and discount!</p>

  <div class="referral-code flex-center flex-auto text-title text-lg">
    <span></span>
    <span *ngFor="let i of memberInfo?.referralCode?.split('')">
      {{ i }}
    </span>

    <ion-icon class="text-md" name="copy-outline"></ion-icon>
  </div>

  <ion-button mode="ios" (click)="shareReferralCode(memberInfo.referralCode)">
    <ion-text>Share</ion-text>
  </ion-button>
</div>
