<app-header [rootPage]="'account'" [isBackHeader]="true" [headerText]="'Membership'"></app-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="card app-theme-card">
      <p class="text-center text-title">How to get more points?</p>
      <div class="card card-content">
        Points will be awarded by the restaurant according to your transactions.
        <div>
          <p class="List-Title">Earn points based on your spending:</p>
          <ul class="points-list">
            <li>
              <ion-icon name="cash-outline" class="icon"></ion-icon>Earn 1 point for every RM1
              spent.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ion-content>
