<app-header [rootPage]="'account'" [isBackHeader]="true" [headerText]="'About Us'"></app-header>
<ion-content [fullscreen]="true">
  <div class="about-title-container flex-center">
    <div>
      <p class="text-title title-eng text-center">ABOUT JUICY</p>
      <p class="text-title text-xxl text-center">브랜드 스토리</p>
    </div>

    <img class="title-bg" load="lazy" src="assets/images/about-us-bg.avif" />
  </div>

  <div class="container">
    <div class="about-message text-center">
      <p class="message-title text-title text-center">
        JUICY, YOUR EVERYDAY
        <br />
        FRESH JUICE BAR
      </p>
      <br />
      <p class="message-content text-center">
        " Live your Live JUICY "
        <br />
        JUICY Fresh Juice Bar is the No.1 Juice brand from Korea. Founded in 2010 have since become
        a global franchise enterprise with over 800 outlets in South Korea alone. With its extensive
        distribution network, JUICY is accelerating as a leading company that specializes in fruit
        to provide the best quality products to customers with their range of daily fresh fruit
        juice.
        <br />
        <br />

        The No 1 Korea Juice Brand aims to deliver back to basic, fresh and natural fruit juices at
        an affordable price to meet customers daily juicing needs. Promoting the habit of drinking A
        CUP OF JUICE A DAY as part of an active healthy lifestyle,

        <br />

        JUICY is the EVERYDAY JUICE BAR.
      </p>
    </div>
  </div>
</ion-content>
