<div class="loading-page flex-center flex-columns">
  <div class="loading">
    <!-- <div class="flex-center flex-auto brand-logo"> -->
    <!-- <img load="lazy" src="assets/images/juicy-brand-full-black.avif" />
      <img class="red" load="lazy" src="assets/images/juicy-brand-full-red.avif" />
      <img load="lazy" src="assets/images/juicy-brand-full-orange.avif" /> -->
    <!-- </div> -->
    <div class="flex-center flex-auto dots" aria-label="Loading">
      <span></span><span></span><span></span>
    </div>
    <p class="text-center flex-center text-lg">
      {{ message }}
    </p>
  </div>
</div>
