.container {
  margin-top: -1.5rem;
  padding-left: 0;
  padding-right: 0;
}

.ios .container {
  margin: 2.1rem 0 3rem 0;
}

.home-container {
  margin-top: -2rem;
  padding: 1.5rem 0 1.5rem;
  border-radius: 0 0 1rem 1rem;
  position: relative;
  z-index: 2;
}
.rewards-container {
  margin-top: -3.2rem;
  padding: 1.5rem 0 1.5rem;
  border-radius: 0 0 1rem 1rem;
  background-color: var(--gold-mid);
  position: relative;
  z-index: 1;
}

.ios.mobile-app .container {
  margin-top: 30px;
  margin-bottom: 50px;
}
:host-context(.ios.mobile-app) .home-container {
  margin-top: -1.3rem;
}
:host-context(.ios.mobile-app) {
  ion-content::part(scroll) {
    padding: calc(60px + var(--android-status-height)) 0 0 0;
    @media (min-width: 394px) {
      padding: calc(85px + var(--android-status-height)) 0 0 0;
    }
  }
}

