<div class="image-section">
  <img load="lazy" src="assets/images/on-boarding-4.png" />
  <div class="bg"></div>

  <div class="spot spot-1"></div>
  <div class="spot spot-2"></div>
  <div class="spot spot-3"></div>
  <div class="spot spot-4"></div>
  <div class="spot spot-5"></div>
</div>
<div class="message-section">
  <div class="title text-lg text-title text-center">Keep Connected & Stay Up-to-Date</div>
  <div class="content text-center">
    You may get the latest promotion details and Notification with the App.
  </div>
</div>
