:root {
  --tabbar-h: 60px;
  --wallet-size: 70px;
  --wallet-icon: 40px;
}

.custom-nav-bar {
  position: relative;
  height: var(--bottom-nav-bar-height);
  background: var(--ion-color-primary);
  border-radius: 1rem 1rem 0 0;
  border: none;
  z-index: 10;
  filter: drop-shadow(var(--base-shadow));
  overflow: visible;
  // bottom: -15px;
}

.ios.mobile-app .custom-nav-bar {
  height: calc(var(--bottom-nav-bar-height) + var(--ion-safe-area-bottom));
  padding-bottom: var(--ion-safe-area-bottom);
}

ion-tab-button {
  --color: #fff;
  --color-selected: var(--gold-mid);
  --ripple-color: #f2cf7d13;
  color: var(--color);
  background: var(--ion-color-primary);
  z-index: 20;
  min-width: 0;
  flex: 1 1 0;
  position: relative;
  width: 20%;

  .bottomLine {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-selected);
    border-radius: 2px 2px 0 0;
    display: none;
    animation: fadeUp 0.6s ease-out forwards;
  }

  @keyframes fadeUp {
    0% {
      width: 0px;
    }

    100% {
      width: 100%;
    }
  }
}

ion-tab-button.tab-selected {
  color: var(--color-selected);

  .bottomLine {
    display: unset;
  }
}

ion-tab-bar {
  filter: drop-shadow(var(--base-shadow));
  background: var(--ion-color-primary);
}

ion-tab-button ion-icon,
ion-tab-button img {
  width: 25px;
  height: 25px;
}

.empty-button {
  background: var(--ion-color-primary);
}

.empty-button ion-icon {
  color: transparent;
}

.wallet {
  position: fixed;
  /* ✅ 重新计算：圆心与 tabbar 上沿贴合 */
  bottom: calc(env(safe-area-inset-bottom, 0px) + (var(--bottom-nav-bar-height) / 2));
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: linear-gradient(rgb(36, 31, 18) 100%);
  background: linear-gradient(rgb(36, 31, 18) 100%);
}

.wallet-bg {
  position: absolute;
  left: 50%;
  bottom: calc((var(--tabbar-h) / 2) - (75px / 2));
  transform: translateX(-50%);
  width: 75px;
  height: 75px;
  background: var(--base-background-color);
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
  pointer-events: none;
  z-index: 15;
}

ion-tab-bar,
ion-tab-button,
ion-tab-button ion-icon {
  position: relative;
  z-index: 20;
}

ion-tab-bar {
  padding-bottom: var(--ion-safe-area-bottom);
}

.empty-button ion-icon {
  color: transparent;
}

.wallet img {
  width: 35px;
  height: 35px;
}
