// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ratio: 1.25;
  --space-unit: 1rem;

  --bottom-nav-bar-height: 65px;

  --ion-color-primary: #221b1a;
  --ion-color-primary-rgb: 214, 27, 42;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #221b1a;
  --ion-color-primary-tint: #221b1a;

  --ion-color-secondary: #302928;
  --ion-color-secondary-rgb: 232, 130, 138;
  --ion-color-secondary-contrast: #000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #302928;
  --ion-color-secondary-tint: #302928;

  --ion-color-success: #2dd25b;
  --ion-color-success-rgb: 45, 210, 91;
  --ion-color-success-contrast: #000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28bb50;
  --ion-color-success-tint: #42d96b;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #c5000f;
  --ion-color-danger-rgb: 197, 0, 15;
  --ion-color-danger-contrast: #fff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #ad000d;
  --ion-color-danger-tint: #cb1a27;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-medium: #b1b1b1;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #fff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-font-family: 'Nunito', -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, sans-serif;

  --ion-color-yellow: #dcb86c;
  --gold-light: #ffecad;
  --gold-mid: #ffe19d;
  --gold-dark: #f2cf7d;
  --gray-light: #f3f2f7;
  --ion-color-pink: #fcd5d9;
  --ion-color-light-gray: #cccccc;
  --ion-color-green: #07cc00;
  --ion-color-gray: #434343;
  --ion-color-midgray: #c4c4c4;
}

:root {
  --text-base-size: 16px;
  --text-scale-ratio: 1.2;
  --text-xs: calc(var(--text-base-size) / var(--text-scale-ratio));
  --text-sm: var(--text-base-size);
  --text-md: calc(var(--text-base-size) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-base-size) * var(--text-scale-ratio) * 1.2);
  --text-xl: calc(var(--text-base-size) * var(--text-scale-ratio) * 1.5);
  --text-xxl: calc(var(--text-base-size) * var(--text-scale-ratio) * 1.8);
  --about-text-title-size: calc(var(--text-base-size) * var(--text-scale-ratio) * 2.5);

  --breakpoint-xs: 480px; /* 小屏手机 */
  --breakpoint-sm: 576px; /* 大屏手机 */
  --breakpoint-md: 768px; /* 平板竖屏 */
  --breakpoint-lg: 992px; /* 平板横屏 & 小桌面 */
  --breakpoint-xl: 1200px; /* 标准桌面 */
  --breakpoint-xxl: 1440px; /* 大桌面 */

  --text-description-color: #666;
  --base-background-color: #d3d3d3;
  // #F0F7FF blue bg
  //  #FFF5F5 theme bg

  --base-padding-top-bottom: 0.8rem;
  --base-padding-left-right: 1.2rem;
  --base-padding: var(--base-padding-top-bottom) var(--base-padding-left-right);
  --base-border-line: 1px solid #c4c4c4;
  --base-button-background: linear-gradient(to right, var(--gold-light), 60%, var(--gold-dark));
  --base-button-color-background:
    radial-gradient(130% 180% at 82% 22%, rgba(255, 255, 255, 0.26) 0%, rgba(255, 255, 255, 0) 36%),
    linear-gradient(var(--gold-dark) 100%);
  --base-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  --base-shadow-dark: 0 4px 6px rgba(0, 0, 0, 0.5);

  --android-status-height: 0px;
}

html.plt-android {
  --android-status-height: 30px;
}

@media (max-width: 576px) {
  :root {
    --text-base-size: 14px;
  }
}

@media (min-width: 768px) {
  :root {
    --text-base-size: 18px;
  }
}
