<div class="image-section">
  <img load="lazy" src="assets/images/on-boarding-1.png" />
  <div class="bg"></div>
  <div class="spot spot-1"></div>
  <div class="spot spot-2"></div>
  <div class="spot spot-3"></div>
  <div class="spot spot-4"></div>
  <div class="spot spot-5"></div>
</div>
<div class="message-section">
  <div class="title text-lg text-title text-center">
    Be a Member to Earn Points & Collect Stamps
  </div>
  <div class="content text-center">
    Scan your membership QR Code when spending to earn Points and collect Stamps.
  </div>
</div>
