<div class="flex-space-between card-title-label">
  <p class="text-lg text-title">Membership Rewards</p>
  <!-- <div class="view-all" [routerLink]="['/rewards']" [queryParams]="{ tab: 'point' }">
    View All
    <ion-icon class="text-lg" name="arrow-forward-outline"></ion-icon>
  </div> -->
</div>

<div *ngIf="isLoaded" class="reward-list flex-auto">
  <div
    class="reward-item"
    *ngFor="let i of displayRewards"
    [routerLink]="['/reward', i.rewardId]"
    [queryParams]="{ phoneNumber: memberInfo?.phoneNumber, point: memberInfo?.point }">
    <img load="lazy" [src]="i?.image ?? 'assets/images/app-offer.jpg'" />
    <p class="truncate-two-line reward-title">{{ i.title }}</p>

    <p
      class="text-center reward-action"
      [ngClass]="{
        active: i.status === 'Active' && (memberInfo?.point ?? 0) >= i.point,
      }">
      <!-- 若点数足够 -->
      <ng-container *ngIf="(memberInfo?.point ?? 0) >= i.point; else needMore">
        CLAIM
      </ng-container>

      <!-- 点数不足 -->
      <ng-template #needMore> NEED {{ i.point - (memberInfo?.point ?? 0) }} POINTS </ng-template>
    </p>
  </div>
</div>

<div *ngIf="!isLoaded" class="reward-list flex-auto">
  <div class="reward-item" *ngFor="let i of [0, 1, 2, 3, 4]">
    <ion-skeleton-text [animated]="true" style="width: 100%; height: 240px"></ion-skeleton-text>
  </div>
</div>
