.split-line {
  border: var(--base-border-line);
}

.card-border {
  flex-direction: row;
}

.referral-item p.text-title {
  margin-bottom: 0.5rem;
}

.referral-item p {
  line-height: 1.2;
}

.ios.mobile-app .container {
margin-top: 30px;
margin-bottom: 50px;
}