<div class="image-section">
  <img load="lazy" src="assets/images/on-boarding-2.png" />
  <div class="bg"></div>

  <div class="spot spot-1"></div>
  <div class="spot spot-2"></div>
  <div class="spot spot-3"></div>
  <div class="spot spot-4"></div>
  <div class="spot spot-5"></div>
</div>

<div class="message-section">
  <div class="title text-lg text-title text-center">
    Exchange Points & Stamps for Vouchers & Rewards
  </div>
  <div class="content text-center">
    Use your Points & Stamps to redeem member exclusive Vouchers & Rewards.
  </div>
</div>
