.highlight-image {
  max-width: 460px;
  border-radius: 0.5rem;
  width: 100%;
}

:host-context(.ios) {
  ion-content::part(scroll) {
    padding: calc(140px + var(--android-status-height)) 0 0 0;
  }
}

