<div class="card feature-card">
  <div class="feature-item">
    <div class="item-icon">
      <ion-icon name="location"></ion-icon>
    </div>
    Outlets
  </div>
  <div class="feature-item">
    <div class="item-icon">
      <ion-icon name="card"></ion-icon>
    </div>
    Membership
  </div>
  <div class="feature-item">
    <div class="item-icon">
      <ion-icon name="wallet"></ion-icon>
    </div>
    Top up
  </div>
  <div class="feature-item">
    <div class="item-icon">
      <ion-icon name="file-tray-full"></ion-icon>
    </div>
    My Orders
  </div>
  <div class="feature-item">
    <div class="item-icon">
      <ion-icon name="people"></ion-icon>
    </div>
    Invite Friends
  </div>
  <div class="feature-item">
    <div class="item-icon">
      <ion-icon name="chatbubble"></ion-icon>
    </div>
    Feedback
  </div>
</div>
