<p *ngIf="title" [ngClass]="{ 'text-title text-md': boldTitle }">{{ title }}</p>

<div *ngIf="inputControl">
  <ion-input
    mode="md"
    fill="outline"
    [placeholder]="placeholder"
    [formControl]="inputControl"
    (ionBlur)="onTouched()">
  </ion-input>

  <ion-row
    *ngIf="inputControl.invalid && (inputControl.dirty || inputControl.touched)"
    class="inline-error">
    <!-- Required field error -->

    <ion-text *ngIf="inputControl.errors?.['required']" color="danger">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <small>{{ title }} is required.</small>
    </ion-text>
    <!-- Maximum length error -->

    <ion-text *ngIf="inputControl.errors?.['maxlength']" color="danger">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <small
        >Maximum allowed length is
        {{ inputControl.errors?.['maxlength'].requiredLength }} characters.</small
      >
    </ion-text>

    <!-- Minimum length error -->
    <ion-text *ngIf="inputControl.errors?.['minlength']" color="danger">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <small>
        Minimum required length is
        {{ inputControl.errors?.['minlength'].requiredLength }} characters.
      </small>
    </ion-text>

    <ion-text *ngIf="inputControl.errors?.['email']" color="danger">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <small>Invalid email address format.</small>
    </ion-text>

    <!-- Phone number format error -->
    <ion-text *ngIf="inputControl.errors?.['phoneFormat']" color="danger">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <small>
        {{
          inputControl.errors?.['phoneFormat'].requiredFormat ||
            inputControl.errors?.['phoneFormat'].error ||
            'Invalid phone number format.'
        }}
      </small>
    </ion-text>

    <!-- No match delete word-->
    <ion-text
      *ngIf="!inputControl.errors?.['required'] && inputControl.errors?.['notMatchDelete']"
      color="danger">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <small>Please Type 'DELETE' to continue</small>
    </ion-text>
  </ion-row>
</div>
