<app-header
  [rootPage]="'account'"
  [isBackHeader]="true"
  [headerText]="'Reset Password'"></app-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="card">
      <p>Create a new password to secure your account.</p>

      <form [formGroup]="form" (ngSubmit)="onContinue()">
        <app-password-input
          [title]="'Password'"
          [placeholder]="'Enter Password'"
          formControlName="password">
        </app-password-input>

        <app-password-input
          [title]="'Confirm Password'"
          [placeholder]="'Confirm Password'"
          formControlName="rePassword">
        </app-password-input>

        <div class="flex-center">
          <ion-button mode="ios" type="submit" class="text-title" [disabled]="form.invalid"
            >Continue</ion-button
          >
        </div>
      </form>
    </div>
  </div>
</ion-content>
