.tnc-label {
  color: var(--ion-color-primary);
  justify-content: end;
  cursor: pointer;
}

.stamp-card {
  padding: 0.6rem 0.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.3rem;
  justify-items: center;
  align-items: center;
  max-width: 480px;
}

.stamp-item {
  padding: 4px;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  background: #fff;
}

.stamp-item img {
  width: 100%;
  height: 100%;
}

.app-theme-card .card-content {
  align-items: center;
}

.history-item {
  gap: 0.5rem;
}

.order-info img {
  width: 80px;
}

.order-info .info-details {
  width: 100%;
}
