<p *ngIf="title" [ngClass]="{ 'text-title text-md': boldTitle }">{{ title }}</p>

<div *ngIf="formControl">
  <div class="password-input">
    <ion-input
      mode="md"
      fill="outline"
      [type]="showPassword ? 'text' : 'password'"
      [placeholder]="placeholder"
      [formControl]="formControl"
      [readonly]="readonly"
      (ionBlur)="onTouched()"
      [counter]="true"></ion-input>
    <ion-icon
      class="text-lg password-toggle"
      (click)="togglePassword()"
      [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
  </div>

  <ion-row *ngIf="formControl.dirty || formControl.touched" class="inline-error">
    <ion-text *ngIf="formControl.errors?.['required']" color="danger">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <small>Password is required.</small>
    </ion-text>
    <ion-text *ngIf="formControl.errors?.['maxlength']" color="danger">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <small
        >Maximum length is {{ formControl.errors?.['maxlength'].requiredLength }} characters.</small
      >
    </ion-text>

    <ion-text *ngIf="notSameAsPassword && formControlName === 'rePassword'" color="danger">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <small>Confirm password must match with password.</small>
    </ion-text>

    <ng-container
      *ngIf="!formControl?.errors?.['required'] && formControl.errors?.['passwordStrength']">
      <ion-text color="danger">
        <ion-icon name="alert-circle-outline"></ion-icon>
        <small>Password must contain:</small>
      </ion-text>
      <ul class="text-sm">
        <li [style.color]="check('hasLowercase') ? 'green' : 'red'">
          ✔ At least one lowercase letter
        </li>
        <li [style.color]="check('hasUppercase') ? 'green' : 'red'">
          ✔ At least one uppercase letter
        </li>
        <li [style.color]="check('hasNumber') ? 'green' : 'red'">✔ At least one number</li>
        <li [style.color]="check('hasSpecialChar') ? 'green' : 'red'">
          ✔ At least one special character (&#64; &#36; &#33; &#37; &#42; &#63; &#38;)
        </li>
        <li [style.color]="check('hasMinLength') ? 'green' : 'red'">✔ Minimum 8 characters</li>
      </ul>
    </ng-container>
  </ion-row>
</div>
